.portfolio {
  position: relative;
  z-index: 3;
  &__title {
    margin-bottom: 36px;
  }
  &-slider {
    margin-left: auto;
    margin-right: auto;
    position: static !important;
    &__list {
      margin-bottom: 30px;
      position: relative;
      z-index: 4;
    }
    &__item {
      height: calc((100% - 30px) / 2) !important;
    }
    &__image {
      width: 100%;
      object-fit: cover;
      height: auto;
      cursor: pointer;
    }
    &__pagination {
      @include align-center;
      justify-content: center;
      & span {
        width: 13px;
        height: 13px;
        background-color: var(--primary-color);
      }
    }
  }
}

@include tablet {
  .portfolio {
    &__title {
      margin-bottom: 30px;
    }
    &-slider {
      &__list {
        margin-bottom: 26px;
      }
    }
  }
}

@include phablet {
  .portfolio {
    &__title {
      margin-bottom: 28px;
    }
    &-slider {
      &__list {
        margin-bottom: 24px;
      }
      &__pagination {
        & span {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}

@include mobile {
  .portfolio {
    &__title {
      margin-bottom: 24px;
    }
    &-slider {
      &__list {
        margin-bottom: 20px;
      }
      &__pagination {
        & span {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}