:root {
  --primary-color: #457fca;
  --secondary-color: #64a3d3;
  --color-dark: #1f2937;
  --color-light: #FFFFFF;
  --color-gray: #858689;
  --color-gray-alt: #e0e2e8;
  --section-bg-color: rgba(210, 211, 211, 0.3);

  --font-family: "Montserrat", sans-serif;

  --border-radius: 8px;
  --border-radius-large: 20px;

  --shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  
  --transition-duration: 0.25s;

  --section-padding: 70px;
}